{% extends "invmanagementsys/base.html" %}
{% block content %}

<!-- <h1>Dashboard</h1> -->

<h1 class ="mb-4">Dashboard</h1>

<div class="row">
    <div class ="col-md-3">
        <a href="{% url 'product_list' %}" class="text-decoration-none">
            <div class = "card text-white bg-primary">
                <div class = "card-body">
                    <h5>Total Products</h5>
                    <h2>{{ total_products }}</h2>
                </div>
            </div>
        </a>
    </div>
    
    <div class ="col-md-3">
        <a href="{% url 'category_list' %}" class="text-decoration-none">
            <div class ="card text-white bg-success">
                <div class = "card-body">
                    <h5>Total Categories</h5>
                    <h2>{{ total_categories }}</h2>
                </div>
            </div>
        </a>
    </div>
    
    <div class = "col-md-3">
        <a href="{% url 'supplier_list' %}" class="text-decoration-none">
            <div class = "card text-white bg-info">
                <div class = "card-body">
                    <h5>Total Suppliers</h5>
                    <h2> {{ total_suppliers }}</h2>
                </div>
            </div>
        </a>
    </div>

    <div class = "col-md-3">
        <div class = "card text-white bg-warning">
            <div class = "card-body">
                <h5>Total Supplies</h5>
                <h2> {{ total_supplies }}</h2>
            </div>
        </div>
    </div>
    
    <div class = "col-md-3 mt-3">
        <div class = "card text-white bg-danger">
            <div class = "card-body">
                <h5>Low Stock Items</h5>
                <h2> {{ low_stock }}</h2>
            </div>
        </div>
    </div>
</div>


<p>Welcome to your Inventory Management System.</p>
{% endblock %}