{% extends "invmanagementsys/base.html" %}
{% block content %}

<h2>Low Stock Products</h2>

<table class = "table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Quantity</th>  
            <th>Price</th>
        
        </tr>
    </thead>
    
    <tbody>
        {% for product in products %}
        <tr>
           <td>{{ product.name }}</td>
           <td>{{ product.category.name }}</td>
           <td>{{ product.supply.supplier.name }}</td>
           <td>{{ product.quantity }}</td>
           <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}